*{
    margin: 0;
    padding: 0;
}

body{
    height: 100dvh;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
}


nav{
    grid-area:nav;
    background-color: rgb(105, 2, 140);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(105, 2, 140);
    padding: 1rem;
}

.nav-menu{
    display:none;
    list-style: none;
    text-align:start;
    gap: 10px;
}

.logo{
    display: flex;
    flex-direction:row;
    gap: 5px;
    color: white;
    padding: 10px;

}

.icono-menu{
    color: white;
}

main{
    grid-area: main;
    background-color: rgb(255, 255, 255);
}

.buscador{
    padding: 20px;
    background-color: rgb(230, 229, 229);
    text-align: center;
}

.dropdown-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: none;
    border-radius: 5px;
    
}

.grid-container-mb{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.grid-container-desktop{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    padding-top: 20px;
     padding-left: 20px;
}

.grid-item-mb{
   border: 1px solid rgb(207, 207, 207);
   border-radius: 10px;
   text-align: center;
   padding: 5px;
   gap: 10px;
   transition: background-color 1s ease-in-out;
}

.grid-item-mb:hover{
   background-color: rgb(255, 245, 177);
   border: 2px solid rgb(105, 2, 140);

}

.grid-item-desktop{
   border: 1px solid rgb(207, 207, 207);
   border-radius: 20px;
   text-align: center;
   padding:10px;
   gap: 10px;
   margin: 5px;
   transition: background-color 1s ease-in-out;
}

.grid-item-desktop:hover{
   background-color: rgb(255, 245, 177);
   border: 2px solid rgb(105, 2, 140);
   transform: scale(1.1);
    
}

.btn-grid{
    background-color:  rgb(105, 2, 140);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.paginacion{
    margin: 30px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-paginacion{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    color:rgb(105, 2, 140);
    border-radius: 5px;
    gap: 10px;
}

footer{
    grid-area:footer;
    background-color: rgb(36, 0, 48);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.icono-footer{
    display: flex;
    flex-direction: row;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-decoration: none;
    color: white;

}

a:hover{
    background-color:  rgb(60, 0, 80);
    padding: 10px;
    border-radius: 10px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 300;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}


@media (min-width: 576px) {
    body{
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 10fr 1fr;
    grid-template-areas:
    "nav main"
    "footer main";
}
   .navbar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
   }
   .nav-menu{
    display:flex;
    flex-direction: column;
   }

   .icono-menu{
    display: none;
   }

   .grid-container-mb{
    display:none;
   }
}

@media (max-width: 576px) {
    .grid-container-desktop{
        display: none;
    }
}
